uvicorn[standard]
fastapi[standard]
pydantic
python-socketio
tqdm
nomic
regex
numpy
pandas
scikit-learn
faiss-cpu
clip
opencv-python
matplotlib
open_clip_torch
langdetect
googletrans
transformers
sentence-transformers
rank-bm25
einops==0.8.1